
<%if user_signed_in?%>
<%if current_user.has_role? "admin"%>
    <h1>Welcome to Admin Pannel   <%=button_to "Sign-out",destroy_user_session_path,method: :delete,class: "btn btn-danger"%></h1>





    <%=render "users/allusers" %>

  <%end %>

<%else%>
  <h1>Welcome to Store</h1>
  <h3>You need to Sign in</h3>
<%=button_to "Sign-in",user_session_path,class: "btn btn-success"%>
<%=link_to "Sign-up",new_user_registration_path,class: "btn btn-warning"%>
<%if user_signed_in?%>

 <%=button_to "Sign-out",destroy_user_session_path,method: :delete,class: "btn btn-danger"%>
 <%end %>

<%end%>

